html {
	height: 100%;
}
body {
	font-family: "Microsoft YaHei";
	font-size: 16px/1.8;
	line-height: 1.5;
	height: 100%;
	margin: 0;
	padding: 0;
	color: #666;
}

/* 页面整体布局 */
body>div {
	position: absolute;
	height: 100%;
	box-sizing: border-box;
}
body>div.left {
	width: 50%;
	left: 0;
	padding: 1em;
}
body>div.right {
	width: 50%;
	right: 0;
	background-color: #F5F5F5;
	border-left: 1px solid #E5E5EE;
	padding: 1em;
}

/* Grid*/
.grid{
	position: relative;
	overflow: hidden;
	border: 1px solid #CCC;
}
.grid .rowHeader{
	width: 50px;
}
.grid>table>colgroup>col{
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.grid>table{
	table-layout: fixed;
	width: 0;
	outline-width: 0;
	max-width: none;
	max-height: none;
	border-collapse: collapse;
	border-spacing: 0;
	-ms-user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	user-select: none;
	margin: 0;
	border-width: 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.grid>table>thead>tr>th,.grid>table>tbody>tr>th,.grid>table>tbody>tr>td{
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	empty-cells: show;
}
.grid>table>thead>tr>th,.grid>table>tbody>tr>th{
	text-align: center;
	font-weight: normal;
}
/* 单元格内容容器 */
.grid>table>thead>tr>th>div,.grid>table>tbody>tr>th>div,.grid>table>tbody>tr>td>div{
	height: 100%;
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0 4px 0 4px;
	vertical-align: middle;
}
/* 文本溢出显示省略号 */
.grid .nowrap{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/* 文本溢出自动换行 */
.grid .wrap, .grid .wrap *{
	white-space: normal;
	overflow: auto;
	word-wrap: break-word; 
	word-break: break-all; 
}
/* 首行、首列 */
.grid>table>thead>tr>th,.grid>table>tbody>tr>th{
	background-color: #EEE;
}

/* 列宽改变器 */
.grid>table>thead>tr>th>div>.resizer{
	position: absolute;
	width: 4px;
	cursor: col-resize;
	height: 100%;
	top: 0;
	right: 0;
}
.grid>table>thead>tr>th>div>.resizer.left{
	left: 0;
	right: auto;
}
.grid>table>thead>tr>th>div>.resizer.right{
	right: 0;
}
.grid>table>thead>tr>th>div>.resizer:hover{
	background-color: #AAB;
}


/*滚动条*/
.grid>.scroller{
	position: absolute;
	background-color: #F8F8F8;
}
.grid>.scroller.vertical{
	top: 0;
	right: 0;
	bottom: 10px;
	width: 10px;
	border-left: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
}
.grid>.scroller.horizontal{
	left: 0;
	right: 10px;
	bottom: 0;
	height: 10px;
	border-top: 1px solid #DDD;
	border-right: 1px solid #DDD;
}

