html {
	height: 100%;
}
body {
	font-family: "Microsoft YaHei";
	font-size: 16px/1.5;
	line-height: 1.5;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #F5F5F5;
}

.page {
	background-color: #fff;
	margin: 2mm auto 2mm auto;
	width: 175mm;
}


/* 禁止文本溢自动换行，文字溢出就显示省略号 */
.nowrap{
	white-space: nowrap;
	overflow: hidden;/**/
	/*text-overflow: ellipsis;*/
}
/* 文本自动换行 */
.autowrap{
	white-space: normal;
	overflow: auto;
	word-wrap: break-word;
	word-break: break-all;
}

/** 弹性框模型 */
/* 水平弹性布局 */
.hlayout {
    display: -ms-box;
    -ms-box-orient: horizontal;

    display: -moz-box;
    -moz-box-orient: horizontal;

    display: -webkit-box;
    -webkit-box-orient: horizontal;

    display:box;
    box-orient: horizontal;
}

/* 垂直弹性布局 */
.vlayout {
    display: -ms-box;
    -ms-box-orient: vertical;
    -ms-box-pack: start;
    -ms-box-align: stretch;

    display: -moz-box;
    -moz-box-orient: vertical;
    -moz-box-pack: start;
    -moz-box-align: stretch;

    display: -webkit-box;
    -webkit-box-orient: vertical; /* 子代排列方向 - 轴向*/
    -webkit-box-pack: start;   /* 子代轴向的排列方式：*start | end | center | justify*/
    -webkit-box-align: stretch;  /* 子代垂直于轴向的排列方式：start | end | center | baseline | *stretch*/

    display:box;
    box-orient: vertical;
    box-pack: start;
    box-align: stretch;
}
.vlayout.hleft {
    -ms-box-align: start;
    -moz-box-align: start;
    -webkit-box-align: start;
    box-align: start;
}
.vlayout.hright {
    -ms-box-align: end;
    -moz-box-align: end;
    -webkit-box-align: end;
    box-align: end;
}
.vlayout.hcenter {
    -ms-box-align: center;
    -moz-box-align: center;
    -webkit-box-align: center;
    box-align: center;
}
.vlayout.vtop {
    -ms-box-pack: start;
    -moz-box-pack: start;
    -webkit-box-pack: start;
    box-pack: start;
}
.vlayout.vbottom {
    -ms-box-pack: end;
    -moz-box-pack: end;
    -webkit-box-pack: end;
    box-pack: end;
}
.vlayout.vcenter {
    -ms-box-pack: center;
    -moz-box-pack: center;
    -webkit-box-pack: center;
    box-pack: center;
}

.hlayout.vcenter {
	-ms-box-align: center; 
	-webkit-box-align: center; 
	-webkit-box-align: center; 
	box-align: center; 
}
.hlayout.hcenter {
	-ms-box-pack: center;
	-moz-box-pack: center;
	-webkit-box-pack: center;
	box-pack: center;
}
.hlayout.hright {
	-ms-box-pack: end;
	-moz-box-pack: end;
	-webkit-box-pack: end;
	box-pack: end;
}

/** 子代的弹性比。弹性比为 1 的子代占据父代框的空间是弹性比为 2 的同级属性的两倍。其默认值为 0，也就是不具有弹性。
 * 值：0 | 任意整数
 */
.vlayout>.flex,.hlayout>.flex {
    -ms-box-flex:1;
    -moz-box-flex: 1;
    -webkit-box-flex:1;
    box-flex: 1;
}


.rows {
	background-color: #fff;
	position: relative;
	border: 1px solid #888;
}

.rows>.row {
	height: 60px;
}
.rows>.row>.cell {
	border: 1px solid #ccc;
	height: 100%;
	overflow: auto;
}

.hcenter {
	text-align: center;
}
.hright {
	text-align: right;
}

.w100 {
	width: 100px;
}